body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #f4f4f4;
  color: #0c0b0b;
}

header {
  background-color: #222222;
  color: #fdf8f8;
  padding: 1rem;
  text-align: center;
}

nav a {
  color: #fff;
  margin: 0 15px;
  text-decoration: none;
}

.intro, section {
  padding: 2rem;
  max-width: 800px;
  margin: auto;
}

.projeto {
  background: #fff;
  padding: 1rem;
  margin-bottom: 1rem;
  border-left: 5px solid #007BFF;
}

footer {
  text-align: center;
  padding: 1rem;
  background-color: #222;
  color: #fff;
  margin-top: 2rem;
}

@media (max-width: 600px) {
  nav a {
    display: block;
    margin: 10px 0;
  }
}